@model List<RedditClone.Models.Post>
@{
    ViewBag.Title = "Forum";
    Layout = "_Layout";
}
<!--<form asp-area="Forums" asp-controller="Forums" asp-action="Index" asp-route-id="@Post.ForumId"> -->
    <p>
        <label>Title: <input type="text" name="SearchString" /></label>
        <input type="submit" value="Filter" />
    </p>
</form>

<a asp-controller="Post" asp-area="Forums" asp-action="Add">Add New Post</a>
<h2>@ViewBag.ForumName.Name</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr><th>Name</th></tr>
    </thead>
    <tbody>
        @foreach (var forum in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Post" asp-action="Post" asp-area="Forums" asp-route-id="@forum.PostId"> @forum.Title </a>
                    <p>@ViewBag.Users.Name</p>
                </td>
            </tr>
        }
    </tbody>
</table>