@model RedditClone.Models.Post
@using Microsoft.AspNetCore.Http

@{
    string title = ViewBag.Action + " Post";
    ViewBag.Title = title;
    Layout = "_Layout";
    int? id = Context.Session.GetInt32("id");
}

<h2>@title</h2>

<form asp-action="add" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Body">Text</label>
        <input asp-for="Body" class="form-control">
    </div>
    <div class="form-group">
        <!-- <label asp-for="UserId">userID</label>
        <input asp-for="UserId" class="form-control"> -->
    </div>

    <div class="form-group">
        <label asp-for="ForumId">Forum</label>
        <select asp-for="ForumId" class="form-control">
            <option value="">Select a Forum to post in</option> 
            @foreach (Forum f in ViewBag.Forums)
            {
                <option value="@f.ForumId">@f.Name</option>
            }
        </select>
    </div>
    <input type="hidden" asp-for="UserId" value="@ViewBag.Id"/>
    <input type="hidden" asp-for="PostId" />

    <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancel</a>
</form>