@model RedditClone.Models.Comment
@using Microsoft.AspNetCore.Http
@{
    string title = ViewBag.Action + " Comment";
    ViewBag.Title = title;
    Layout = "_Layout";
    int? id = Context.Session.GetInt32("id");
}

<h2>@title</h2>

<form asp-action="addComment" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Body">Text</label>
        <input asp-for="Body" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="PostId">Post</label>
        <select asp-for="PostId" class="form-control">
            <option value="">Select a Post to Comment on</option>
            @foreach (Post f in ViewBag.Posts)
            {
                <option value="@f.PostId">@f.Title</option>
            }
        </select>
    </div>

    <input type="hidden" asp-for="UserId" value="@ViewBag.Id" />
    <input type="hidden" asp-for="CommentId" />

    <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancel</a>
</form>