@model RedditClone.Models.Post
﻿@{
    ViewBag.Title = "Post";
    Layout = "_Layout";
}

<table>
    <thead> 
        <tr>
            <td>@Model.Title</td>
            <td>@Model.Date</td>
        </tr>
    </thead>
<p>@Model.Body</p>
</table>
<a asp-controller="Post" asp-area="Forums" asp-action="AddComment">Add New Comment</a>
<div class="col-sm-2">
    <div class="list-group">
        @foreach (RedditClone.Models.Comment c in ViewBag.Comments)
        {
            <q>
                @c.Body
            </q>
            <p>
                @c.Date
            </p>
        }
    </div>
</div>
